@{
    ViewBag.Title = "首页";
}

<div id="about" class="section anchor">
    <div class="light-wrapper">
        <div class="container inner">
            <h2 class="section-title text-center">About the Company</h2>
            <p class="lead main text-center">A creative agency turning ideas into beautiful things</p>

            @*头条新闻*@
            <div class="row">
                <div class="col-sm-8">
                    <h2> @ViewBag.topnew_title </h2>
                    @ViewBag.topnew_abstract
                            
                </div>
                <div class="col-sm-4">
                    <figure><img src="@ViewBag.topnew_imgurl" alt="" /></figure>
                </div>
            </div>

            <div class="divide60"></div>
            @*推荐新闻*@
            <div class="row team text-center">
                <div class="col-sm-4">
                    <figure><img src="@ViewBag.hotnew1_imgrul" alt="" /></figure>
                    <h3>@ViewBag.hotnew1_title</h3>
                    <p>@ViewBag.hotnew1_abstract</p>
                </div>
                <div class="col-sm-4">
                    <figure><img src="@ViewBag.hotnew2_imgrul" alt="" /></figure>
                    <h3>@ViewBag.hotnew2_title</h3>
                    <p>@ViewBag.hotnew2_abstract</p>
                </div>
                <div class="col-sm-4">
                    <figure><img src="@ViewBag.hotnew3_imgrul" alt="" /></figure>
                    <h3>@ViewBag.hotnew3_title</h3>
                    <p>@ViewBag.hotnew3_abstract</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#about -->